.app-border-over {
    border-color: var(--color-pakistan-green) !important;
    width: fit-content;
}

.search-bar {
    position: relative;
    /* já está */
}

#suggestions {
    z-index: 1000;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.product-card {
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}