.app-border-over {
    border-color: var(--color-pakistan-green) !important;
    width: fit-content;
}

.search-bar {
    position: relative; /* já está */
}

#suggestions {
    z-index: 1000; /* valor alto suficiente */
    background-color: white; /* importante para não ficar transparente */
    max-height: 300px; /* opcional, para limitar altura */
    overflow-y: auto;    /* scrollbar se necessário */
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
