.app-border-over {
    border-color: var(--color-pakistan-green) !important;
    width: fit-content;
}

.search-bar {
    position: relative; /* já está */
}

#suggestions {
    z-index: 1000;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}